// reset e regole base

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap');

body {
  margin: 0;
  padding: 0 20px;
  font-family: $font-family;
  background-color: $color-bg;
  line-height: 1.5;
}

a {
  color: $color-text;
  text-decoration: none;
}
