@use "variables" as *;

$font-family: 'Inter', sans-serif;
$color-text: #1a1a1a;


body {
  margin: 0;
  padding: 0 20px;
  font-family: $font-family;
  background-color: $color-bg;
  line-height: 1.5;
}

a {
  color: $color-text;
  text-decoration: none;

  &:hover{
    color: $color-text;
    text-decoration: solid;
  }
}
