@use "variables" as *;

button {
  padding: $padding-sm;
  background-color: $color-primary;
  color: $color-bg;
  border: none;
  border-radius: $radius;
  cursor: pointer;
  margin: $radius;

  &:hover {
    background-color: $color-secondary;
    color: $color-text;
  }
}

.card {
  border:solid 1.5px;
  border-color: $color-primary;
  background-color: $color-bg;
  transition: transform .3s ease;

  &:hover{
  transform: scale(1.05);
  }
}
.card-img-top{
  width: 160px;
  height: 160px;
}

.link-primary{
  color: $color-bg !important;
  background-color: $color-primary;
  padding: $radius;
  border-radius: $radius;
  text-decoration: none;
  text-decoration-color:$color-text;

    &:hover{
  background-color: $color-secondary;
  color: $color-text !important;}

   &:visited{
    color: initial;
  }


}

.nav-link{
  color: $color-text;
}

.dropdown-menu {
  background-color: $color-bg;
  border-color: $color-primary;
}

.dropdown-item {

  .dropdown-item a:hover{
   background-color: $color-bg;
   text-decoration: underline;
  }
   .dropdown-item:active{
   background-color: $color-bg;
  }
  .dropdown-item:focus{
   background-color: $color-bg;
  }
  }

form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  label {
    font-weight: bold;
  }

  input, textarea {
    padding: $padding-sm;
    border: 1px solid $color-primary;
    border-radius: $radius;
    font-size: 16px;
  }

  .btn-form {
    display: inline-block;
    width: auto;
    text-align: center;
  }
}
