@use "variables" as *;

button {
  padding: $padding-sm;
  background-color: $color-primary;
  color: $color-bg;
  border: none;
  border-radius: $radius;
  cursor: pointer;
  margin: $radius;

  &:hover {
    background-color: $color-dark;
  }
}

.card {
  border:solid 1px;
  border-color: $color-primary;
}
.card-img-top{
  width: 160px;
  height: 160px;
}

.link-primary{
  color: $color-bg !important;
  background-color: $color-primary;
  padding: $radius;
  border-radius: $radius;
  text-decoration: none;
}

.nav-link{
  color: $color-text;
}
// .project-card {
//   transition: transform .3s ease;

//   &:hover {
//     transform: scale(1.05);
//   }
// }

form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 20px;

  label {
    font-weight: bold;
  }

  input, textarea {
    padding: $padding-sm;
    border: 1px solid $color-primary;
    border-radius: $radius;
    font-size: 16px;
  }

  .btn-form {
    display: inline-block;
    width: auto;
    text-align: center;
  }
}
