@import url(
    'https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap'
    );

body{
    margin: 0;
    font-family:'Inter', sans-serif;
    background-color: #F4F1EB;
}

a{
    color: #1a1a1a;
}

button{
    padding: 8px;
    background-color: #A8B5A2;
    color: #DADADA;
    /*font-weight: bold;*/
    border: none;
    border-radius: 8px;
}

.header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: #F4F1EB;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
    position: fixed;
    width: 100%;
    z-index: 1;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style-type: none; 
    overflow: hidden;
    background-color: #F4F1EB;
}

.header ul a{
    display: block;
    padding: 20px;
    text-decoration: none;
}

.header ul a:hover{
    background-color: #A8B5A2;
}

.header .logo{
    float: left;
    font-size: 25px;
    padding: 10px 20px;
}

.header .menu{
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

.header .menu-icon{
    padding: 28px 20px;
    position: relative;
    float: right;
    cursor: pointer;
}

.header .menu-icon .nav-icon{
    background-color: gray;
    display: block;
    width: 18px;
    height: 2px;
    position: relative;
    transition: background-color .2s ease-out;
}

.header .menu-icon .nav-icon::before,
.header .menu-icon .nav-icon::after{
     background-color: gray;
     content: "";
     display: block;
     height: 100%;
     width: 100%;
     transition: all .2s ease-out;
     position: absolute;
}
.header .menu-icon .nav-icon::before{
top: 5px;
}
.header .menu-icon .nav-icon::after{
top: -5px;
}

.header .menu-btn{
    display: none;
}

.header .menu-btn:checked ~ .menu{
max-height: 240px;   
}

.header .menu-btn:checked ~ .menu-icon .nav-icon{
    background-color: transparent;
}
.header .menu-btn:checked ~ .menu-icon .nav-icon::before{
 transform: rotate(-45deg);
 top: 0;
}
.header .menu-btn:checked ~ .menu-icon .nav-icon::after{
  transform: rotate(45deg);
  top: 0;
}

@media (min-width: 48em){ /* Mobile responsive*/
    .header li{
        float: left;
    }

    .header li a {
        padding: 20px 30px;
    }

    .header .menu{
        clear: none;
        float: right;
        max-height: 0;
    }

    .header .menu-icon{
        display: none;
    }
}

.hero {
  display: grid;
  position: relative;
  place-items: center;
  height: 500px;
  overflow: hidden;
}

.hero-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    grid-area: 1 / 1 / 2 / 2;
    z-index: 0;
}

.hero-text{
  grid-area: 1 / 1 / 2 / 2;
  z-index: 1;
  padding: 8px;
  color: #DADADA;
  text-align: center;
  max-width: 90%;
  background-color: rgba(0,0,0,0.5); 
}

.badge{
  display: inline-block;
  padding: 8%;
  margin-bottom: 20px;
  color: #DADADA; 
}
     
/* SE C'è BUTTON SOPRA TUTTI I BOTTONI SARANNO COSI?
.btn-hero{
    padding: 8px;
    background-color: #A8B5A2;
    color: #DADADA;
    font-weight: bold;
    border: none;
    border-radius: 8px;
}*/